DateTime parameter RFC

Hi!

Is there a way to set another RFC to bind the date time string to a parameter? 

The @Format only allows for a specific pattern. 

We would like to use the the RFC 3339, section 5.6 format. 

`Additionally, any DateTime that conforms to RFC-1123 can be bound to a parameter. Alternatively the format can be customized with the Format annotation:`

