Binding comma separated query value to List

[Section 3.2.1 of RFC 6570](https://tools.ietf.org/html/rfc6570#section-3.2.1)

> For a variable that is a list of values, expansion depends on both
>    the expression type and the presence of an explode modifier.  If
>    there is no explode modifier, the expansion consists of a comma-
>    separated concatenation of the defined member string values.  If
>    there is an explode modifier and the expression type expands named
>    parameters (";", "?", or "&"), then the list is expanded as if it
>    were an associative array in which each member value is paired with
>    the list's varname.  Otherwise, the value will be expanded as if it
>    were a list of separate variable values, each value separated by the
>    expression type's associated separator as defined by the table above.
> 
>      Example Template     Expansion
> 
>        {count}            one,two,three
>        {count*}           one,two,three
>        {/count}           /one,two,three
>        {/count*}          /one/two/three
>        {;count}           ;count=one,two,three
>        {;count*}          ;count=one;count=two;count=three
>        {?count}           ?count=one,two,three
>        {?count*}          ?count=one&count=two&count=three
>        {&count*}          &count=one&count=two&count=three

Given: 

```java
package example;

import io.micronaut.http.MediaType;
import io.micronaut.http.annotation.Controller;
import io.micronaut.http.annotation.Get;
import io.micronaut.http.annotation.Produces;
import io.micronaut.http.annotation.QueryValue;

import javax.annotation.Nullable;
import java.util.List;

@Controller
public class HomeController {

    @Produces(MediaType.TEXT_PLAIN)
    @Get("{?fields}")
    int index(@Nullable @QueryValue List<String> fields) {
        return fields == null ? 0 : fields.size();
    }
}
```

I was expecting:

`curl http://localhost:8080?fields=1,2,3`
`curl http://localhost:8080?fields=1&fields=2&fields=3"`

to return 3. 

Only the latter returns 3.

Using an explode ("*") modifier yields the same results.

```java
    @Produces(MediaType.TEXT_PLAIN)
    @Get("{?fields*}")
    int index(@Nullable @QueryValue List<String> fields) {
        return fields == null ? 0 : fields.size();
    }
```

The workaround we are using is exploding the items manually if the there is only one item. 

```java
return fields == null ? 0 : (fields.size() == 1 ? Arrays.asList(fields.get(0).split(",")).size() : fields.size());
```
### Environment Information

- **Operating System**: MacOS Mojava
- **Micronaut Version:** 1.2.2
- **JDK Version:** 1.8

You're describing the expansion of a template. I don't think the template is being expanded given an argument. We're receiving query values and attempting to bind them to the argument. So I don't think the RFC you've included there applies to this use case.

I don't think we can or perhaps should assume that a string value with a comma in it represents multiple values when binding to a list. Should `?fields=Hello, Sam` be one item in the list or two?

Also duplciates https://github.com/micronaut-projects/micronaut-core/issues/1610

@jameskleeh - the parsing of comman separated values in list is valid request and actually default way of working with url params. Your statement of: Should ?fields=Hello, Sam be one item in the list or two?

Well it depends if the field is defined as String or List<String>, so respectively it will be either 1 or 2 values.

@archenroot Well, this is weird. Let's have this example: val messages: ```List<String>?```

then:
```
?messages=Hello, Tom! -> messages = ["Hello", " Tom!"]
?messages=Hello, Tom!&messages=Welcome back! -> ["Hello, Tom!", "Welcome back!"]
```
this is absolutely valid scenario, however default behavior is faulty in my eyes. I needed to introduce custom type for messages and appropriate TypeConverter, but it feels more like hack than regular setup. MN 3.7.2 fyi.